<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunlei.user3.study.mybatisspring.BlackListMapper">
    <select id="findBlacklists" resultType="String">
        select gameid from `gameuser`.`blacklist` where xlinternalno=#{xlinternalno}
    </select>
    
    <select id="findAllBlacklists" resultMap="BlackListBeanResultMap">
        select gameid,xlinternalno from `gameuser`.`blacklist`
    </select>
    
    <select id="queryBlacklistCount" resultType="int">
        select count(1) from `gameuser`.`blacklist` where gameid=#{gameid}
    </select>
    
    <select id="findBlacklistUsers" resultType="long">
        select xlinternalno from `gameuser`.`blacklist` where gameid=#{gameid}
    </select>
    <resultMap id="BlackListBeanResultMap" type="BlackListBean">
        <result property="gameid" column="gameid"/>
        <result property="xlinternalno" column="xlinternalno"/>
    </resultMap>
</mapper>