<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.xunlei.user3.study.mybatis.BlackListBean" alias="BlackListBean"/>
    </typeAliases>   
    <environments default="master_db">
        <environment id="master_db">
            <transactionManager type="JDBC" />
            <dataSource type="com.xunlei.user3.study.mybatis.C3P0DataSourceFactory">
                <property name="driverClass" value="com.mysql.jdbc.Driver" />
                <property name="jdbcUrl" value="jdbc:mysql://10.11.200.90:3306/gameuser?useUnicode=true&amp;characterEncoding=utf8&amp;allowMultiQueries=true" />
                <property name="user" value="root" />
                <property name="password" value="sd-9898w" />
                <property name="idleConnectionTestPeriod" value="10" />
                <property name="maxPoolSize" value="100" />
                <property name="initialPoolSize" value="5" />
                <property name="minPoolSize" value="5" />
                <property name="acquireIncrement" value="5" />
                <property name="checkoutTimeout" value="6000" />
                <property name="maxIdleTime" value="600" />
            </dataSource>
        </environment>
        <environment id="slave_db">
            <transactionManager type="JDBC" />
            <dataSource type="com.xunlei.user3.mybatis.C3P0DataSourceFactory">
                <property name="driverClass" value="com.mysql.jdbc.Driver" />
                <property name="jdbcUrl" value="jdbc:mysql://10.11.25.102:3306/gameuser?useUnicode=true&amp;characterEncoding=utf8&amp;allowMultiQueries=true" />
                <property name="user" value="root" />
                <property name="password" value="sd-9898w" />
                <property name="idleConnectionTestPeriod" value="10" />
                <property name="maxPoolSize" value="100" />
                <property name="initialPoolSize" value="5" />
                <property name="minPoolSize" value="5" />
                <property name="acquireIncrement" value="5" />
                <property name="checkoutTimeout" value="6000" />
                <property name="maxIdleTime" value="600" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/BlackListMapper.xml" />
    </mappers>
</configuration>